@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
    font-family: Poppins;
    min-height: 100vh;
    background-image: url("imgs/bg.jpg");
    background-size: 100%;
    background-position: center;
}

div {
    min-height: 100vh;
    font-size: 1.5em;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-bottom: 200px;
}