@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    margin: 0;
    font-family: Poppins;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 33 vh 33vh 33vh;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    background-color: red;
}

.item {
    height: 100%;
}